<div class="container">
  {{#link-to 'question' question.id}}<h2>{{question.content}}</h2>{{/link-to}}
  <h3>- {{question.author}}</h3>
  {{update-question question=question update="update"}}
  <br>
  {{answer-count question}} Answer(s) {{nameList}}
</div>
