<div class="container">
  "{{question.notes}}"
  <hr>
  <br>
  <h1>Answers: {{upvoteCount.answers.length}} Total Likes</h1>
  {{#each question.answers as |answer|}}
  <h3>{{answer.author}} - {{singleLikes.length}} Likes</h3>
  <h4>"{{answer.content}}"</h4>
  <button {{action 'upvote' answer}}>Like</button>
  {{/each}}
</div>
